<h1>Article</h1>

<h2>Un nouvel article à été plublié</h2>

<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ article.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ article.title }}</td>
    </tr>
    <tr>
        <th>Content</th>
        <td>{{ article.content }}</td>
    </tr>
    </tbody>
</table>